.card {
  margin: 10px;
}
.card-data-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-data-body > span {
  flex-basis: 25%;
}

.center-align {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}
